<h1 class="text-center">Skills</h1>
<% if current_user && current_user.admin? %>
  <p class="text-center"><%= link_to "NEW SKILL", new_skill_path %></p>
<% end %>

<div class="well">

  <% if @skills.any? %>
    <ul>
      <% @skills.each do |skill| %>
        <li><%= link_to skill.name, skill_path(skill) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no skills.</p>
  <% end %>
</div>
