<div class="well" id="ref_show">
<h1>References:</h1>
  <% if @references.any? %>
    <ul class="unstyled-list" id="references">
      <% @references.each do |reference| %>
        <%= render (reference) %>
      <% end %>
    </ul>
  <% else %>
    <p>There are no references.</p>
  <% end %>
  <hr>
  <% if current_user %>
    <%= render 'form' %>
  <% else %>
    <p><%= link_to "Sign in", log_in_path, :id => 'login' %> to add a reference.</p>
  <% end %>
</div>

<%= link_to "Close", root_path, remote: true, id: "close_references_link", :class => "btn btn-default" %>

